{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{% static 'movie_review.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Rammetto+One&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <h1 id="movie-review-h1">Write a Movie Review</h1>
    <form id = 'movie-review-form'action="{% url 'recommend_movie' %}" method="post">
    {% csrf_token %}
        <label class="form-label" for="movie-title">Movie Title:</label>
        <input class="form-control" type="text" id="movie-title" name="movie-title">
        <ul id="suggestions"></ul>
        <label class="form-label" for="movie-review">Movie Review:</label>
        <textarea class="form-control" type="text" id="movie-review" name="movie-review"></textarea>
        <div class="center-btn">
            <button id="submit-review-btn" type="submit"><i class="fa fa-paper-plane"></i>Submit</button>
        </div>
    </form>
    <script>
        $(function() {
            $("#movie-title").autocomplete({
                source: "{% url 'suggest_movies' %}",
                minLength: 2,
            });
        });
    </script>

</body>
</html>