#movie-review-h1 {
    color: 	#E50914;
    font-family: 'Rammetto One';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1B1212 !important;
    flex-direction: column;
    color: white !important;
    font-family: 'Noto Sans Mono' !important;
}

form {
    min-width: 50vh;
}

.center-btn{
    display:flex;
    justify-content: center;
}

.form-label{
    margin-top: 1em;
}

#submit-review-btn {
    border-radius: 25px;
    border: none;
    background-color: #E50914;
    color: white;
    padding: .5em 2em;
    margin-top: 2em;
}

.fa {
    margin-right: 1em
}

.ui-autocomplete {
    background-color: rgba(0, 0, 0, 0.7); /* Translucent dark background */
    color: white; /* Text color */
    border: 1px solid #ccc; /* Optional: Add a border */
}

.ui-autocomplete .ui-menu-item {
    border-bottom: 1px solid #ccc; /* Optional: Add a border between items */
}

.ui-autocomplete .ui-menu-item:last-child {
    border-bottom: none; /* Remove border from the last item */
}