h2 {
    color: 	#E50914 !important;
    font-family: 'Rammetto One';
    text-align: center;
    max-width: 90vh;
    overflow-wrap: break-word;
}

ol {
    margin-top: 2em !important;
}

li {
    font-size: 1.3em;
}

.review-btn {
    border-radius: 25px;
    border: none;
    background-color: #E50914;
    color: white;
    padding: .5em 2em;
    margin-top: 2em;
    text-decoration-line: none;
}